html{
	scroll-behavior:smooth;
}
body{
	margin:0px;
	padding:0px;
}
#header{
	
}
#gornji-meni{
	text-decoration:none;
	text-align:center;
	
}
#gornji-meni  img{
	float:left;
	height:50px;
	width:100px;
}
#gornji-meni a{
	padding:5px 20px;
	font-size:40px;
	text-decoration:none;
	margin:0px auto;
	
	
}
#gornji-meni p{
	float:right;
	margin-right:10px;
	font-family:sans-serif;
}
#donji-meni{
	text-decoration:none;
	display:flex;
}
#donji-meni a{
	flex-grow:1;
	text-align:center;
	text-decoration:none;
	color:black;
	display:block;
	padding:15px 0px;
	transition:400ms;
	font-family:sans-serif;
}
#donji-meni a:hover,
#donji-meni a.active{
	background-color:#668B8B;
	color:white;
	
}

.strana{
	/*border: 1px solid black;*/
	height:100vh;
	margin: 0px auto;
}
#pozadina{
	background:url('Slike/pozadina.jpg');
	background-size:cover;
	background-attachment:fixed;
	text-align:center;
}
#pozadina .darkbox{
	align:center;
}
.darkbox{
	background-color:#33333355;
	border:1px solid black;
	font-size:24px;
	padding:30px;
	margin:auto;
	display:block;
}
.darkbox h1{
	font-family:monospace;
	text-transform:uppercase;
}
.naslov{
	/*border: 1px solid black;*/
	margin-top:15px;
	height:35px;
	text-align:center;
	padding:10px;
	font-size:32px;
	text-decoration:uppercase;
	font-family:sans-serif;
}
#textbox{
	margin-top:5px;
	text-align:center;
	font-size:24px;
	margin-bot:10px;
	font-family:sans-serif;
}
#slike-holder{
	/*border:1px solid black;*/
	height:500px;
	width:1300px;
	margin:auto;
	
	
}
#slike-holder img{
	display:inline-block;
	height:230px;
	width:230px;
	size:fill;
	margin:11px;
	box-shadow:0 0 3px rgba(3,3,3,3);
	transition: all 1000ms ease-out;
}
#levi-tekst{
	border:1px solid black;
	border-radius:50px;
	margin:40px;
	width:200px;
	padding:10px;
	position:float-right;
	background-color:#000000
}
#levi-tekst p{
	font-size:18px;
	font-family:sans-serif;
	letter-spacing:1px;
	color:white;
	margin-top:20px;
	
}
#gornje-slike{
	float:right;
	
}
.img1{
	height:270px;
	width:270px;
	position:relative;
	z-index:1;
	top:-70px;
}
.img2{
	height:270px;
	width:270px;
	position:relative;
	z-index:2;
	top:-112px;
	left:-32px;
}
#donja-slika{
	margin:15px;
}
#donja-slika img{
	height:300px;
	width:450px;
}
#Dešavanja{
	background:url('Slike/Provod/pozadinadesavanja.jpg');
	background-size:cover;
	background-attachment:fixed;
}
#tekst-specijal{
	border-radius:55px;
	background-color:#00000090;
	color:white;
	padding:15px;
	margin-top:20px;
}
#tekst-specijal h1 a{
	color:red;
}
#Kontakt{
	background-color:#A9A9A9;
}
.darkbox1{
	background-color:#33333355;
	border:1px solid black;
	font-size:24px;
	padding:30px;
	margin:auto;
	display:center;
}
.darkbox1 h3{
		text-align:center;
}